@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=PT+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a {
    color: #C2834C;
    font-family: 'Krona One', sans-serif;
}
a:hover {
    color: white;
}
h1, h2{
    text-align: center;
    font-size: 35px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-weight: normal;
    padding: 15px;
    color: #D18D52;
}
/* ------------------- Menu de links -------------------- */
.container-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #041e36;
    /* border: solid red 5px; */
    box-shadow: 0px 5px 9px 1px rgb(24, 23, 23);    
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;    
    margin-left: 100px;    
}
.logo a {
    display: flex;
    width: 230px;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
}
.navbar {
    display: flex;    
    min-height: 70px;
    justify-content: center;
    align-items: center;
    padding: 0 34px 0 0;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 35px;
}
.nav-link {
    display: flex;
    height: 70px;
    align-items: center;
    transition: 0.5s ease;    
}
.menuha {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 42px;
    height: 5px;
    border-radius: 2px;
    margin: 4px auto;
    background-color: #C2834C;
    transition: all 0.3s ease-in-out;
}
/* ---------------------- Ajustes e conteúdos da página -------------------- */
.container-pagina{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 70px;
    /* border: solid blue 5px; */
    height: auto;
}
/* ---------------------- Primeiro banner da página --------------------- */
.apresentar{ 
    display: flex;   
    background-image: radial-gradient(circle, #0053af, #004185, #00305c, #041e36);
    height: 620px;
    gap: 10px;
    /* border: solid red; */
}
.titulo{
    /* container do título */
    display: flex;
    flex-direction: column;
    font-family: 'Krona One', sans-serif;   
    margin: 100px 30px 10px 84px;
    width: 45%;    
}
.apresentar-titulo{
    font-size: 1.3rem;
    font-family: sans-serif;
    margin: 30px 20px 2px 17px;
    color: white;
}
.apresentar-nome{
    /* Marcio Souza */
    text-align: left;
    font-size: 3rem;
    font-weight: 900;
    padding: 0 0 0 17px;
}
.apresentar-texto-dev{
    /* Desenvolvedor Front End */
    font-family: sans-serif;
    font-size: 2.3rem;
    margin: 0 20px 20px 17px;    
    color: white;
}
.apresentar-texto{
    font-size: 1.3rem;
    font-family: sans-serif;
    line-height: 30px;
    margin: 30px 20px 2px 17px;
    color: white;
}
.contato{
    display: flex;
    margin: 45px 0 0 20px;
    gap: 45px;    
}
.contato a{
    display: flex;
    border: solid 1px;
    height: 40px;
    width: 180px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: white;
}
.contato a:hover{
    background-color: red;
    color: yellow;
}
.contato-img{
    width: 30px;
}
.apresentar-img{
    position: absolute;
    top: 120px;
    right: 100px;
    height: 25rem;
    width: 31rem;
}
/* ----------------------- Sobre mim ------------------------ */
.container-sobre{
    background: #00305c;
    /* border: solid red; */
    padding: 10px 20px;
}
.sobre-titulo{
    background: #042340;    
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
    width: 100%;
}
.sobre-texto{
    /* border: solid black; */
    background-image: url(../imagens/paper-2.png);
    font-family: Arial, Helvetica, sans-serif;
    color: #75461d;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 35px;
    /* margin: 70px 100px;     */
    padding: 50px 100px;
    
}
/* ----------------------------- Área dos Projetos ------------------------- */

.projetos{
    display: flex;
    flex-direction: column;    
    position: relative;
    background-image: radial-gradient(circle, #0053af, #004185, #00305c, #041e36);
    /* border: solid rgb(52, 50, 50); */
       
}
.projetos-titulo{
    background: #042340;
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
    /* border: solid black; */
    width: 100%;
}
.projetos-texto{
    text-align: center;    
    padding-top: 50px;
    padding-bottom: 20px;    
    /* border: solid green; */
}
.projetos-box{
    display: flex;    
    /* border: solid blue; */
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 70px;
}
.projetos-box-card{
    display: block;
    position: relative;
    /* border: solid red;     */
    width: 17%;
    text-align: center;
    margin: 70px 70px 0 70px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.projetos-box-card a {
    display: block;
}
.projetos-box-card h3{
    height: 30px;
}
.teste{
    visibility: hidden;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.2);    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}
.projetos-box-card:hover .teste {
    visibility: visible;
}

/* ----------------------- Área do Rodapé ------------------- */
.main-footer{
    position: relative;
    top: 70px;
    background-color: #041e36;
    /* border: solid red; */
    
}
.social-cont{
    display: flex;
    /* border: solid yellow; */
    justify-content: center;
    align-items: center;
    height: 70px;
    gap: 30px;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
    /* border: solid ; */
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
/* ----------------------- media query ---------------------- */
/* --------------------- Menu Hamburguer -------------------- */
@media (max-width:1024px) {
    .menuha {
        display: block;
    }
    .menuha.active .bar:nth-child(2) {
        opacity: 0;
    }
    .menuha.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .menuha.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .logo {
        font-size: 1.3rem;
    }
    .navbar {
        justify-content: flex-end;
        margin-right: 50px;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #041e36;
        text-align: center;
        flex-direction: column;
        width: 60%;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }
}
@media (max-width:768px) {
    .logo {
        margin-left: 50px;
    }
    .navbar {
        margin-right: 20px;
    }
}
@media (max-width:480px) {
    .logo {
        margin-left: 20px;
    }
    .navbar{
        margin-right: 5px;
        padding: 0 10px 0 0;
    }
}
